fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.4
python-multipart==0.0.9
numpy==1.26.4
opencv-python==4.10.0.84
facenet-pytorch==2.5.3
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
soundfile==0.12.1
ffmpeg-python==0.2.0
rich==13.7.1
